spring:
  application:
    name: configserver

  profiles:
    active: git

  cloud:
    config:
      server:
        git:
          uri: "https://github.com/martoOstrovo/DS-project-config.git"
          default-label: master
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true

encrypt:
  key: ${CONFIG_SERVER_ENCRYPTION_KEY}

server:
  port: 8070
